#main h3 {
	border-bottom: 6px solid #820000;
	color: #820000;
	font-size: 1.2em;
	line-height: 1.2em;}
#main h3 a {
    text-decoration: none;
    color: #820000;}

.news, .notice {
    float: left;
    width: 50%;}
.news h3, .news ul, .notice h3, .notice ul {
    margin: .2em .5em;}
.notice li {
    font-size: .88em;
    border-bottom: 1px dashed #eee;
    color: #4f4f4f;
    word-wrap: break-word;}
.notice li:hover {
    background-color: #f6f6f6;
    border-bottom-style: solid;
}
.notice span {
    font-style: italic;
    font-size: 1.1em;
    color: #B86D41;}

/*===================for slideshow================*/
#slideshow {
    clear: both;
    margin-bottom: 1em;}
#slideshow li a {
    color: #820000;}
#slideshow li img {
    float: left;
    max-width: 160px;
    height: 120px;
    margin: 10px 10px auto 20px;
    padding: 3px;
    border: 1px solid #ccc;}
#slideshow li a:hover img {
    border-color: #820000;}
#slideshow li h4 {
    margin-top: 1em;}
#slideshow li p{
    text-align: right;
    font-style: italic;
    color: #B86D41;}
    
.accessible_news_slider {
    position: relative;
    overflow: hidden;
    width: 100%; /*for ie 6*/
}
.accessible_news_slider .view_all {
    display: none;}
    
.accessible_news_slider .back {
    position: absolute;
    top: auto;
    left: 0;
    z-index: 2;
    width: 100px;
    height: 150px;
}
.accessible_news_slider .back a,
.accessible_news_slider .next a {
    display: none;
    outline: none;
    height: 100%;
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
}
.accessible_news_slider .back a {
    background: url(img/otsw_back.gif) center no-repeat;}
.accessible_news_slider .next a {
    background: url(img/otsw_next.gif) center no-repeat;
}
.accessible_news_slider .next {
    position: absolute;
    top: auto;
    right: 0;
    z-index: 2;
    width: 100px;
    height: 150px;
}
.accessible_news_slider ul ,.accessible_news_slider .next ,.accessible_news_slider .back
{
    background-color: #F6F3E5;}
.accessible_news_slider ul {
    position: relative;
    left: 0;
    z-index: 1;
    margin-left: 100px;
    overflow: hidden;
    height: 150px;
}

.accessible_news_slider li {
    float: left;
    display: inline;
    width: 200px;
}

/*====================================================*/
.ul-with-div li{
    float: left;
    width: 50%;}
.ul-with-div li li {
    float: none;}
.ul-with-div div {
    margin: .6em;}
.ul-with-div li li,.news li {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}